section {
    /*Контейнер*/
    display: flex;
    /*главная ось*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    /*поперечная ось */
    align-items: flex-end;
}

.img-tovar {
  width: 218px;
  min-height: 150px;
  background-color: grey;
  padding: 5px;
  margin: 5px;
  align-self: center;
}

.card-body {
  align-self: center;
}
